<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 - Pagina non trovata</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta propety="og:image" content="https://ferminotify.me/img/og-logo.png">
  <meta property="og:description" content="Fermi Notify è un servizio non ufficiale dell'IS &quot;E. Fermi&quot; Mantova che invia delle notifiche per avvisare delle variazioni dell'orario del calendario giornaliero.">
  <meta property="og:title" content="404 Pagina non trovata · Fermi Notify">
  <meta property="og:type" content="website">
  <link rel="icon" type="image/x-icon" href="/img/favicon-black.png">
  <link rel="stylesheet" type="text/css" href="/css/general.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3511194049429500" crossorigin="anonymous"></script>
  <style>
    body {
      background-color: var(--bgcolor);
    }

    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      text-align: center;
    }

    a {
      color: var(--highlighted-color);
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }

    h1, h2{
      margin: 0;
    }

    p{
      margin: 16px;
    }
  </style>
</head>
<body>

  <div class="container">
        <h1>😮</h1>
        <h2>Oops! Pagina non trovata</h2>
        <p>Siamo spiacenti ma la pagina che cerchi non esiste.</p>
        <a href="/">Torna alla homepage</a>

        <a href="/"><img src="/img/favicon-white.png" alt="404" style="width: 100%; height: auto; max-width: 25px; bottom: min(100px, 15vh); position: fixed;"></a>

  </div>
</body>
</html>