<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Registrazione a Fermi Notify.">
    <meta propety="og:image" content="https://ferminotify.me/img/og-logo.png">
    <meta property="og:description" content="Fermi Notify è un servizio non ufficiale dell'IS &quot;E. Fermi&quot; Mantova che invia delle notifiche per avvisare delle variazioni dell'orario del calendario giornaliero.">
    <meta property="og:title" content="Registrazione · Fermi Notify">
    <meta property="og:type" content="website">
    <script src="/js/hamburger.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon-black.png">
    <!-- css -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/alertbanner.css" type="text/css">
    <link rel="stylesheet" href="/css/general.css" type="text/css">
    <link rel="stylesheet" href="/css/form.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
    
    <!-- Material Icon -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3511194049429500" crossorigin="anonymous"></script>
    
<title>Registrazione · Fermi Notify</title>
</head>
<body>
    <%- include('includes/cookie-min.ejs') %>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="logo" href="/">
                <img src="/img/nav-logo.png">
            </a>
            <a class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="/login" class="spanHighlight"><span>&gt;</span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="minHeight-100vh formContainer">
<form id="form" action="/users/register" method="POST" onsubmit="loading()">
    <h1 class="title"><span style="color: #F29C46;">&gt;</span> registrazione</h1>
    <div class="nomecognome inputs">
        <div class="fname">
            <label for="Nome" id="name-label">Nome</label>
            <input type="text" placeholder="Nome" name="name" id="name" required class="input-box" maxlength="50">
        </div>
        <div class="lname">
            <label for="Cognome" id="surname-label">Cognome</label>
            <input type="text" placeholder="Cognome" name="surname" id="surname" required class="input-box" maxlength="50">
        </div>
    </div>
    <div class="email inputs">
        <label for="Email" id="email-label">Email</label>
        <input type="email" placeholder="Email" name="email" id="email" required class="input-box" maxlength="50">
    </div>
    <div class="psw inputs">
        <div class="inputs-title">
            <label for="Password" id="password-label">Password</label>
            <span id="psw-corta" class="input-warning"></span>
        </div>
        <div class="psw-bar">
            <input type="password" placeholder="Password" name="password" id="password" required class="input-box" onkeyup="passwordLength()">
            <span id="PSWShowHideIcon" onclick="ShowPSW()"><i class="fa-solid fa-eye-slash" style="transform: translateX(2px)"></i></span>
        </div>
    </div>
    <div class="confirm-psw inputs">
        <div class="inputs-title">
            <label for="Conferma Password" id="password2-label">Conferma password</label>
            <span id="psw-non-corrispondono" class="input-warning"></span>
        </div>
        <input type="password" placeholder="Conferma" name="password2" id="password2" required class="input-box" onkeyup="validatePassword()">
    </div>
    <div class="gender inputs">
        <label for="Gender" id="gender-label">Genere</label>
        <select class="gender-select" id="gender" name="gender">
            <option id="F" value="F">Donna (F)</option>
            <option id="M" value="M">Uomo (M)</option>
            <option id="X" value="X">Altro (ǝ)</option>
            <option id="gender-placeholder" class="gender-select-placeholder" selected value="placeholder">Genere</option>
        </select>
    </div>

    <button id="submit-btn" class="btn-bg margin-y15px flex-center" onclick="return checkAll()">Registrati</button>

    <p class="post-form-msg">Hai gi&agrave; un account? <a href="/login">Login</a></p>

</form>
</div>

<%- include ('includes/alertbanner.ejs') %>

<%- include('includes/footer-min.ejs') %>

<script>
    $('input').on('change', function(){
         if($(this).val()==""){
            $(this).removeClass('inserted');
         }
         if($(this).val()!=""){
            $(this).addClass('inserted');
         }
    });

    $('input').on('focus', function(){
         labelID = this.id + "-label";
         $("#"+labelID).css("color", "var(--primary-color)");
         $(this).on("focusout", function() {
            $("#"+labelID).css("color", "#fff");
        });
    });

    $('#password2').on('focus', function(){
         document.getElementById("psw-non-corrispondono").style.color = "#fff";
         $(this).on("focusout", function() {
            document.getElementById("psw-non-corrispondono").style.color = "var(--primary-color)";
        });
    });
    $('#password').on('focus', function(){
         document.getElementById("psw-corta").style.color = "#fff";
         $(this).on("focusout", function() {
            document.getElementById("psw-corta").style.color = "var(--primary-color)";
        });
    });

    
    $( ".gender-select" ).on('change', function() {
        if($(".gender-select  option:selected").val()!="placeholder"){
            $(this).addClass('inserted');
        }
        if($(".gender-select  option:selected").val()=="placeholder"){
            $(this).removeClass('inserted');
        }
    });

    $(".gender-select").on('focus', function(){
        $("#gender-label").css("color", "var(--primary-color)");
        $(this).on("focusout", function() {
            $("#gender-label").css("color", "#fff");
        });
    })
</script>

<script src="/js/ShowPSW.js"></script>

<script src="/js/submit-loading.js"></script>

<script>
    var passwordMatch = false;
    var passwordLong = false;
    var password = document.getElementById("password"), confirm_password = document.getElementById("password2");

    function validatePassword(){
        if(password.value != confirm_password.value && confirm_password.value != "") {
            document.getElementById("psw-non-corrispondono").innerHTML = "Le password non corrispondono";
            passwordMatch = false;
        } else {
            document.getElementById("psw-non-corrispondono").innerHTML = "";
            passwordMatch = true;
        }
    }
    
    function passwordLength(){
        if(password.value.length < 6 && password.value.length != 0){
            document.getElementById("psw-corta").innerHTML = "La password deve essere lunga almeno 6 caratteri";
            passwordLong = false;
        }else{
            document.getElementById("psw-corta").innerHTML = "";
            passwordLong = true;
        }
        validatePassword();
    }

    function checkAll(){
        var errorbanners = document.getElementsByClassName("errorbanner");
        for(var i = 0; i < errorbanners.length; i++){
            errorbanners[i].classList.add("hideAlert");
        }
        var inputs = document.getElementsByClassName("input-box");
        var allFilled = true;
        for(var i = 0; i < inputs.length; i++){
            if(inputs[i].value == ""){
                allFilled = false;
            }
        }
        if(!allFilled){
            var div = document.createElement("div");
            div.id = "alertbanner";
            div.className = "errorbanner showAlert";
            div.setAttribute("onclick", "this.classList.remove('showAlert'); this.classList.add('hideAlert')");
            div.innerHTML = "<ul style=\"list-style: none; padding-left: 0;\"><li id=\"alertmessage\"><i class=\"fa-solid fa-circle-exclamation\"></i> Compila tutti i campi!</li></ul>";
            document.body.appendChild(div);
            $("#submit-btn").blur();
            return false;
        }else if(!passwordLong){
            var div = document.createElement("div");
            div.id = "alertbanner";
            div.className = "errorbanner showAlert";
            div.setAttribute("onclick", "this.classList.remove('showAlert'); this.classList.add('hideAlert')");
            div.innerHTML = "<ul style=\"list-style: none; padding-left: 0;\"><li id=\"alertmessage\"><i class=\"fa-solid fa-circle-exclamation\"></i> La password deve essere almeno 6 caratteri!</li></ul>";
            document.body.appendChild(div);
            $("#submit-btn").blur();
            return false;
        }else if(!passwordMatch){
            var div = document.createElement("div");
            div.id = "alertbanner";
            div.className = "errorbanner showAlert";
            div.setAttribute("onclick", "this.classList.remove('showAlert'); this.classList.add('hideAlert')");
            div.innerHTML = "<ul style=\"list-style: none; padding-left: 0;\"><li id=\"alertmessage\"><i class=\"fa-solid fa-circle-exclamation\"></i> Le password non corrispondono!</li></ul>";
            document.body.appendChild(div);
            $("#submit-btn").blur();
            return false;
        }else if(document.getElementById("gender").value == "placeholder"){
            var div = document.createElement("div");
            div.id = "alertbanner";
            div.className = "errorbanner showAlert";
            div.setAttribute("onclick", "this.classList.remove('showAlert'); this.classList.add('hideAlert')");
            div.innerHTML = "<ul style=\"list-style: none; padding-left: 0;\"><li id=\"alertmessage\"><i class=\"fa-solid fa-circle-exclamation\"></i> Seleziona il tuo genere!</li></ul>";
            document.body.appendChild(div);
            $("#submit-btn").blur();
            return false;
        }
        return true;
    }
</script>

</body>

</html>
