.credits-title{
	text-align: center;
	margin: 20px 0;
	width: 100%;
	color: #fff;
	font-weight: 800;
}

.credits-subtitle{
	text-align: center;
	margin: 50px 0 20px 0;
	width: 100%;
	color: #fff;
	font-weight: 800;
}

.credits-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	color: #fff;
}

.grid-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.devInfo{
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

.name{
	margin: 15px 0;
}

.devRuolo{
	margin-bottom: 15px;
}

.devRuolo p{
	margin: 0;
}

.devMail{
	color: var(--highlighted-color);
}

@media only screen and (max-width: 1050px) {
    .credits-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 650px) {
    .credits-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ---------------------- */