.dashboard {
    color: white;
    width: 100%;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

.dashboard a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.keywords {
    display: grid;
    grid-template-columns: min(80%, 500px) 20%;
}

.keywords-form-container{
    margin: 15px 0;
}

.keyword-input {
    max-width: min(100%, 500px);
}

.bigSectionTitle {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.bigSectionTitle i {
    color: var(--primary-color);
    margin-right: 8px;
}

.keywords-container {
    padding-left: 3%;
}

#telegramCode {
    margin: 10px 0;
    color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    background-color: #111166;
}

.telegramCodeContainer {
    margin: 20px 0;
    cursor: pointer;
    width: fit-content;
}

.telegram-instruction {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#copied {
    margin-left: 5px;
    color: var(--primary-color);
    display: none;
    letter-spacing: 0.1em;
}

.caret {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* CHECKBOX */
.invioNotificheContainer{
    margin: 0 3%;
    max-width: calc(490px - 3%); /* 980/2 - 3% padding */
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22.5px;
    width: 22.5px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox:checked+.slider {
    background-color: var(--primary-color);
}

.checkbox:focus+.slider {
    box-shadow: 0 0 1px var(--primary-color);
}

.checkbox:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.checkNot-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid white;
}

.invioNotificheContainer .checkNot-container:last-child {
    border-bottom: 1px solid white;
}


/* RECOMMENDED KEYWORDS */
#recommended-keywords-paragraph{
    font-size: 0.7em;
    display: none;
    width: 100%;
}
@media (hover: none){
    #recommended-keywords .highlight-hover span{
        color: #fff;
    }
}


/* REPORT PROBLEM */
.reportProblem{
    font-size: 12px;
    margin: 10px 0;
}
.reportProblem p{
    margin: 5px 0;
}


.keyword-edit-btn{
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    margin: 10px 0;
}
.keyword-edit-btn:hover{
    cursor: pointer;
    background-color: var(--highlighted-background-hover);
}
.keyword-editing{
    cursor: pointer;
}
.keyword-editing:hover{
    color: var(--primary-color);
}
.keyword-list-bullet{
    padding-right: 10px;
    font-size: 0.75em;
}
#keyword-list{
    list-style: none;
    padding: 0;
}
.keyword{
    margin: 5px 0;
    display: flex;
    align-items: center;
    width: fit-content;
}

@keyframes blink{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.info .inputs{
    width: 100%;
}

.info-input, .info-input:disabled{
    width: min(100%, 325px);
    padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    outline: 1px solid #757575;
    border-radius: 10px;
    background: transparent;
    height: 18px;
}

.info-input.inserted, .info-gender-select.inserted{
    outline: 1px solid var(--primary-color);
    color: #fff;
    background: transparent;
}

.info-input:focus{
    background: transparent;
    color: #fff;
}

.info-edit-btn-container{
    height: 100%;
    width: 30%;
    margin: 0 5px;
}

.info-edit-btn-container i{
    padding: 0 12px;
    /*background-color: var(--primary-color);*/
    background: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.info-edit-btn-container i:hover{
    color: var(--primary-color);
}

.info-editing-btns{
    display: none;
}

.info-editing-btns button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.info-gender-select, .info-gender-select:disabled{
    background: transparent;
    width: min(100%, 345px);
    height: 38px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    outline: 1px solid #757575;
    border-radius: 10px;
    padding: 0 5px;
    color: #757575;
    opacity: 1;
}

.info-gender-select:not(:disabled){
    color: #fff;
}

.info-gender-select option{
    color: #000;
}

.info-gender-select:focus{
    background: transparent;
}

.info-toEdit-btns .lds-grid {
	display: none;
	position: relative;
	width: 26.67px;
	height: 26.67px;
    margin: 1px 6px 0 6px;
}

.info-toEdit-btns .lds-grid div {
	position: absolute;
	width: 5.33px;
	height: 5.33px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}

.info-toEdit-btns .lds-grid div:nth-child(1) {
	top: 2.67px;
	left: 2.67px;
	animation-delay: 0s;
}

.info-toEdit-btns .lds-grid div:nth-child(2) {
	top: 2.67px;
	left: 10.67px;
	animation-delay: -0.4s;
}

.info-toEdit-btns .lds-grid div:nth-child(3) {
	top: 2.67px;
	left: 18.67px;
	animation-delay: -0.8s;
}

.info-toEdit-btns .lds-grid div:nth-child(4) {
	top: 10.67px;
	left: 2.67px;
	animation-delay: -0.4s;
}

.info-toEdit-btns .lds-grid div:nth-child(5) {
	top: 10.67px;
	left: 10.67px;
	animation-delay: -0.8s;
}

.info-toEdit-btns .lds-grid div:nth-child(6) {
	top: 10.67px;
	left: 18.67px;
	animation-delay: -1.2s;
}

.info-toEdit-btns .lds-grid div:nth-child(7) {
	top: 18.67px;
	left: 2.67px;
	animation-delay: -0.8s;
}

.info-toEdit-btns .lds-grid div:nth-child(8) {
	top: 18.67px;
	left: 10.67px;
	animation-delay: -1.2s;
}

.info-toEdit-btns .lds-grid div:nth-child(9) {
	top: 18.67px;
	left: 18.67px;
	animation-delay: -1.6s;
}

@media only screen and (max-width: 600px){

}