@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Source+Code+Pro:wght@500&display=swap');


:root {
    --main-bg-color: #101010;
    --primary-color: #FF9800;
    --highlighted-background-hover: #E56900;
    --highlighted-background-active: #F57C00;
    --monospace: 'Source Code Pro', monospace;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #666;
    border: solid 3px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 14px 14px #909090;
}

::-webkit-scrollbar-button {
    display: none;
}

/* input keyword uppercase but not placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

* {
    margin: 0;
}

a{
    cursor: pointer;
}

html,
body {
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
    font-size: 0.9rem !important;
    transform: translateY(2px) !important; 
}

.text-center{
    text-align: center;
}

#cookieAlert{
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #fff;
    z-index: 10000;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    font-size: 12px;
    animation: showCookieAlert 0.5s ease-in-out forwards;
}
#cookieAlert a{
    color: #fff;
    text-decoration: none;
}
#cookieAlert a:hover{
    color: var(--primary-color);
}
.cookieAlert-btn{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.cookieAlert-btn a{
    cursor: pointer;
}
.cookieAlert-accept-btn{
    margin-right: 5px;
    font-weight: 600;
}
.cookieAlert-text{
    margin: 0;
}
@media screen and (max-width: 600px) {
    #cookieAlert{
        width: calc(100% - 50px);
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }
    .cookieAlert-accept-btn{
        margin-right: 10px;
    }
}
@media screen and (max-width: 380px) {
    .cookieAlert-options{
        display: flex;
        flex-direction: column;
    }
}
@keyframes showCookieAlert {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 1;
        bottom: 25px;
    }
}

.mono{
    font-family: var(--monospace);
}

.mirrorElement {
    -moz-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}

.errorText{
    color: #ea3232;
    font-weight: 600;
}
.errorTitle{
    margin-right: 15px;
}
.errorDescription{
    font-size: 0.7rem;
    padding-top: 5px;
    line-height: 1.3rem;
}
.errorDescription i{
    color: var(--primary-color);
}
/* keep text together */
.errorRetry{
    white-space: nowrap;
    margin: 0;
    padding: 0 !important;
}
.errorRetry span:nth-child(1){
    font-size: 1rem;
    transform: translateY(2px);
}
.errorRetry:hover{
    text-decoration: none !important;
}
.errorRetry:hover :not(.errorRetry span:nth-child(1)){
    text-decoration: underline;
}

.beta-tag {
    background-color: #fff;
    color: var(--main-bg-color);
    padding: 5px 10px;
    margin-left: 8px;
    font-size: 0.5em;
    font-weight: 700;
    border-radius: 10px;
    height: fit-content;
}

/***** submit loading *****/
.submit-lds-grid {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
}

.submit-lds-grid div {
	position: absolute;
	width: 20%;
	height: 20%;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}

.submit-lds-grid div:nth-child(1) {
	top: 10%;
	left: 10%;
	animation-delay: 0s;
}

.submit-lds-grid div:nth-child(2) {
	top: 10%;
	left: 40%;
	animation-delay: -0.4s;
}

.submit-lds-grid div:nth-child(3) {
	top: 10%;
	left: 70%;
	animation-delay: -0.8s;
}

.submit-lds-grid div:nth-child(4) {
	top: 40%;
	left: 10%;
	animation-delay: -0.4s;
}

.submit-lds-grid div:nth-child(5) {
	top: 40%;
	left: 40%;
	animation-delay: -0.8s;
}

.submit-lds-grid div:nth-child(6) {
	top: 40%;
	left: 70%;
	animation-delay: -1.2s;
}

.submit-lds-grid div:nth-child(7) {
	top: 70%;
	left: 10%;
	animation-delay: -0.8s;
}

.submit-lds-grid div:nth-child(8) {
	top: 70%;
	left: 40%;
	animation-delay: -1.2s;
}

.submit-lds-grid div:nth-child(9) {
	top: 70%;
	left: 70%;
	animation-delay: -1.6s;
}

@keyframes lds-grid {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

/**********/

.btn-bg:hover {
    background-color: var(--highlighted-background-hover);
}

.btn-nobg:hover {
    color: var(--highlighted-background-hover) !important;
}

.btn-bg:active,
.btn-bg:focus {
    background-color: var(--highlighted-background-active);
    border-radius: 10px;
}

.btn-bg {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 48px;
    padding: 13px 25px;
    background-color: var(--primary-color);
    color: #fff;
    width: fit-content;
    height: 100%;
    border: none;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.2, 0, 0, 1);
}

.btn-nobg {
    color: var(--primary-color) !important;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.btn-nobg:hover {
    text-decoration: underline;
}

.content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15%;
}
@media screen and (max-width: 600px) {
    .content {
        padding: 0 7%;
    }
}

.minHeight-100vh {
    min-height: calc(100vh - 69px - 50px - 25px);
    /* 100vh - navbar - footer - footer margin-top */
}

.grid-center-col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
@media screen and (max-width: 600px) {
    .grid-center-col2 {
        grid-template-columns: 1fr;
    }
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section{
    margin: 25px 0;
    width: 100%;
    max-width: 980px;
}
.section:first-child{
    margin-top: 0;
}

.highlighted-text {
    color: var(--primary-color) !important;
}

/*
header{
    display: flex;
    justify-content: space-between;
}*/

.spanHighlight:hover>span {
    color: var(--primary-color);
}

/* NAVBAR */
.nav-links li a span {
    color: white;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #000 0%, transparent 100%);
    /* 111166? */
    backdrop-filter: blur(1px);
    font-family: 'Montserrat', sans-serif;
    height: 69px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-inner {
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 980px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}

.hamburger {
    top: 1em;
    right: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .line {
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

/* ---------------------- */


/* LOGO */
.logo {
    color: #fff;
    z-index: 10000;
}

.logo img {
    height: 2rem;
}

/* ---------------------- */


/* PADDING & MARGIN */
.padding-x15 {
    padding: 0 15%;
}

.margin-y15px {
    margin: 15px 0;
}

.margin-l15px {
    margin-left: 15px;
}

/**************************/


/* FOOTER */
.footer {
    margin-top: 25px;
    background: linear-gradient(to top, #000 0%, transparent 100%);
    backdrop-filter: blur(1px);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    height: 50px;
    color: #aaaaaa;
    font-size: 12px;
    width: 100%;
    max-width: 980px;
}

.footer-inner a {
    color: #fff;
    text-decoration: none;
}

.footer-inner .informativa-privacy-link{
    color: #aaaaaa;
}
.footer-inner .informativa-privacy-link:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .footer {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 1000px) {

    .hamburger {
        padding-top: 1.5%;
    }
}


@keyframes hamburgerFadeDown {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hamburgerFadeUp {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes navLinksBGin {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes navLinksBGout {
    100% {
        visibility: hidden;
        opacity: 0;
    }

    0% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------------- */


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .logo {
        padding-left: 5%;
    }

    .hamburger {
        display: flex;
        z-index: 10000;
    }

    .nav-links {
        position: fixed;
        padding-top: 75px;
        top: 0;
        backdrop-filter: blur(10px);
        width: 99%
            /* 100% overflows wtf */
        ;
        visibility: hidden;
        height: calc(100vh - 75px);
        background-color: rgba(16, 16, 30, 0.8)
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-inner {
        padding: 0;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
    }

    .nav-links li a {
        padding: 0;
    }

    .nav-links.active {
        animation: navLinksBGin 0.5s cubic-bezier(0.75, 0.25, 0.05, .75) forwards;
    }

    .nav-links.inactive {
        animation: navLinksBGout 0.5s cubic-bezier(0.75, 0.25, 0.05, .75) forwards;
    }

    .nav-links.active~.navbar {
        background-color: #fff !important;
    }

    .nav-links.active ul li.li-active {
        animation: hamburgerFadeDown 0.5s cubic-bezier(0.75, 0.25, 0.05, .75) forwards;
    }

    .nav-links ul li.li-inactive {
        animation: hamburgerFadeUp 0.5s cubic-bezier(0.75, 0.25, 0.05, .75) forwards;
    }

    .section {
        padding: 0 7%;
    }

    .footer-inner {
        flex-direction: column;
        padding-bottom: 15px;
        height: 35px;
        text-align: center;
    }

    .footer-inner p {
        margin: 10px 0;
    }


    .hamburger .line {
        transition: transform 0.5s cubic-bezier(0.75, 0.25, 0.05, 1.0), opacity 0.25s ease;
    }

    .line.line-pazzo:nth-child(1) {
        opacity: 1;
        transform: rotate(45deg) translateY(425%);
    }

    .line.line-pazzo:nth-child(2) {
        opacity: 0;
        transform: scale(0.0);
    }

    .line.line-pazzo:nth-child(3) {
        transform: rotate(-45deg) translateY(-425%);
    }
}

.firstTitle {
    padding-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 75px;
}

/* MAGGIORI INFO */
#maggioriInfo {
    cursor: pointer;
}

.sub-description i {
    color: var(--primary-color);
}

.keywords-info {
    margin: 4px 7px 10px 7px;
    border-left: 1px solid var(--primary-color);
}

.keywords-info li {
    padding: 4px 0;
    list-style: none;
}

@media only screen and (max-width: 1280px) {
    .keywords-info li {
        list-style: disc;
    }
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.sub-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding: 5px 0;
    line-height: 1.3;
}